.filters-component {
  height: 100%;
  overflow-y: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: var(--double-spacing) 0 var(--double-spacing) var(--double-spacing);
  background-color: white;
}

.filters-component .ant-collapse,
.filters-component .filters-actions {
  padding-right: var(--double-spacing);
}

.filters-component form {
  display: grid;
  gap: var(--double-spacing);
  grid-template-rows: 1fr auto;
  overflow-y: auto;
}

.filters-component .ant-collapse {
  width: 100%;
  overflow-x: hidden;
}

.filters-component .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding-left: 0;
  padding-right: 0;
}

.filters-component .ant-collapse-content {
  max-height: 220px;
  overflow-y: auto;
}

.filters-component .ant-collapse-content .ant-collapse-content-box {
  padding: 0 !important;
}

.filters-component .ant-checkbox-group {
  width: 100%;
}

.filters-component .ant-checkbox-wrapper {
  display: flex;
  margin: var(--spacing) 0 !important;
}

.filters-component .ant-checkbox-wrapper > span:not(.ant-checkbox) {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filters-component .filters-actions {
  display: flex;
  justify-content: flex-end;
}
