.metric-list li.ant-list-item {
  padding: 16px 0;
}

.metric-list {
  overflow-y: auto;
  padding-right: 16px;
  margin-right: -16px;
}

.metric-metadata-tooltip-content {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
}
